{% extends 'base.html' %}


{% block title %} Заказы пользователя {% endblock %}
{% block content %}

    <h2>Заказы пользователя {{ user.name }}</h2>
    <table>
        <thead><th>Id</th><th>products</th><th>Total</th><th>Date</th></thead>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{% for product in order.products.all %}
                {{ product.name }}
                {% endfor %} </td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.date_ordered }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}